*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkseagreen;
}
h2{
    margin: 10px;
}
h3{
    margin: 10px;
}
div{
    margin: 10px;
}
.inline{
    display: inline;
    padding: 10px;
    border: 2px solid green;
    margin: 10px;
}
.block{
    display: block;
    border: 2px solid red;
    width: 22%;
    margin: 10px;
    padding: 10px;
}
.inline-block{
    display: inline-block;
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;

}